body {
  margin: 0;
  padding: 0;

  background-image: url("../Madura/bgBaru.png");
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: rgb(13, 13, 13);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav div a {
  display: flex;
  font-size: 30px;
  text-decoration: none;
  color: #ff7315;
}

nav ul {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  list-style: none;
}

nav ul a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  color: whitesmoke;
}

nav ul a:hover {
  color: #ff5500;
  border-bottom: 1px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(21, 26, 24, 0.9);
  padding: 50px;
  width: 320px;
  box-shadow: 0px 0px 15px 5px rgba(100, 99, 99, 0.748);
  border-radius: 15px;
  margin-bottom: 50vh;
}

.input h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: sans-serif;
  letter-spacing: 3px;
  padding-top: 0;
  margin-top: -20px;
}

.box-input {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border-bottom: 2px solid rgb(250, 250, 250);
  padding: 8px 0;
}

.box-input i {
  font-size: 23px;
  color: white;
  padding: 5px 0;
}

.box-input input {
  width: 85%;
  padding: 5px 0;
  background: none;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
}

.box-input input::placeholder {
  color: white;
}

.btn-input .box-input input:hover {
  background: rgba(10, 10, 10, s 0.5);
}

.btn-input {
  margin-left: 10px;
  margin-bottom: 20px;
  background: none;
  border: 1px solid white;
  width: 92.5%;
  padding: 10px;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 10px;
}

.btn-input:hover {
  background: #ff5500;
}

.bottom {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: -20px;
}

.bottom p {
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.bottom a {
  color: #ff5500;
  font-size: 15px;
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}

/* footer */
footer {
  padding: 1rem;
  background-color: rgba(241, 241, 241, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90vh;
}

footer main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact ul,
.sosmed ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact ul li,
.sosmed ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 50px;
  margin-left: 30px;
}

.contact ul li a,
.sosmed ul li a {
  text-decoration: none;
  color: rgb(13, 13, 13);
  margin-left: 1rem;
  font-size: 16px;
}

.contact ul li a:hover,
.sosmed ul li a:hover,
.contact ul li i:hover,
.sosmed ul li i:hover {
  color: #ff5500;
}

.sosmed {
  display: flex;
  justify-content: flex-end;

  align-items: flex-end;
}

.sosmed ul li {
  margin-bottom: 0.5rem;
}
.copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  color: rgb(29, 29, 29);
  width: 100%;
}
