/* Reset CSS */
body {
  margin: 0;
  padding: 0;

  background-image: url("../Madura/bgBaru.png");
  font-family: sans-serif;
  background-color: #1a472a;
}

body {
  margin: 0;
  padding: 0;
  background: url("background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  background-color: rgb(13, 13, 13);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav div a {
  display: flex;
  font-size: 30px;
  text-decoration: none;
  color: #ff7315;
}

nav ul {
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
  list-style: none;
}

nav ul a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px;
  color: whitesmoke;
}

nav ul a:hover {
  color: #ff5500;
  border-bottom: 1px solid white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(21, 26, 24, 0.9);
  border-radius: 15px;
  box-shadow: 0px 0px 25px 10px black;
}

.profile-container h2 {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 30px;
  letter-spacing: 3px;
}

.user-info {
  margin-bottom: 20px;
}

.user-info h3 {
  font-size: 18px;
  color: white;
}

.booking-table {
  overflow-x: auto;
}

.booking-table h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: white;
}

table th {
  background-color: #f2f2f2;
}

table td {
  background-color: #fff;
}

table td a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

table td a:hover {
  text-decoration: underline;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  color: #333;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #1a472a;
}

table td {
  background-color: #1a472a;
}

table td a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

table td a:hover {
  text-decoration: underline;
}

/* footer */
footer {
  padding: 1rem;
  background-color: rgba(241, 241, 241, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90vh;
}

footer main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact ul,
.sosmed ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact ul li,
.sosmed ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-right: 50px;
  margin-left: 30px;
}

.contact ul li a,
.sosmed ul li a {
  text-decoration: none;
  color: rgb(13, 13, 13);
  margin-left: 1rem;
  font-size: 16px;
}

.contact ul li a:hover,
.sosmed ul li a:hover,
.contact ul li i:hover,
.sosmed ul li i:hover {
  color: #ff5500;
}

.sosmed {
  display: flex;
  justify-content: flex-end;

  align-items: flex-end;
}

.sosmed ul li {
  margin-bottom: 0.5rem;
}
.copyright {
  text-align: center;
  margin-top: 1rem;
  font-size: 14px;
  color: rgb(29, 29, 29);
  width: 100%;
}
